<p id="notice"><%= notice %></p>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start time</th>
      <th>End time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>  
   <td><%= booking.start_time.strftime('%e %b %Y %H:%M%p') %> </td>  
   <td><%= (booking.calculate_end_time + 60).strftime('%e %b %Y %H:%M%p') %></td>  
   <td><%= link_to "Delete", site_site_hotel_booking_path(@site, @site_hotel, booking), data: { confirm: 'Are you sure?' }, method: :delete %></td>  
   <td><%= link_to "Edit", edit_site_site_hotel_booking_path(@site, @site_hotel, booking) %></td>  
  </tr>  
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking', new_booking_path %>
